{% extends 'base.html' %}
{% block body %}

            <div class="shadow card">
                <div class="shadow body">
                    <h5>{{task.name}}</h5>
                    <p><b>{{task.priority}}</b></p>
                    <p>{{task.date}}</p>
                    <a class="btn btn-danger " href="{% url 'delete' task.id %}">Delete</a>
                    <a class="btn btn-success " href="{% url 'edit' task.id %}">Edit</a>
                </div>
            </div>


{% endblock %}
