{% extends 'base.html' %}
{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-text">
                    <h1><b>TODO</b></h1>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="POST" class="p-3 shadow">
               {% csrf_token %}
               <div class="form-group">
                   <input type="text"  class="form-control" name="task" placeholder="enter task name ">
               </div>
               <div class="form-group">
                    <input type="text" class="form-control" name="priority" placeholder="enter priority ">
               </div>
                <div class="form-group">
                    <input type="date" class="form-control" name="date" placeholder="enter your date ">
               </div>
                <input type="submit" class="btn btn-success">
        </form>

        </div>
        <div class="col-md-6">
            <h4>task to be completed</h4>
            {% for i in task1 %}
            <div class="shadow card">
                <div class="shadow body">
                    <h5>{{i.name}}</h5>
                    <p><b>{{i.priority}}</b></p>
                    <p>{{i.date}}</p>
                    <a class="btn btn-danger " href="{% url 'delete' i.id %}">Delete</a>
                    <a class="btn btn-success " href="{% url 'edit' i.id %}">Edit</a>
                </div>
            </div>
            <br>
             {% endfor %}
        </div>
    </div>
</div>
{% endblock %}